* {
  margin: 0;
  color: white;
  box-sizing: border-box;
  text-shadow: 0 0 3px black;
}

body {
  background-color: #2c302d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Fredoka", serif;
  font-weight: bold;
  overflow: hidden;
  font-size: 1.7rem;
}

.startScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1126px;
  height: 672px;
  background-color: #bbcdb9;
  position: absolute;
  z-index: 100;
}

.TheEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 1000;
}

.win {
  background: linear-gradient(
    0deg,
    rgb(163, 255, 221),
    rgb(155, 255, 155),
    rgb(156, 255, 219)
  );
}

.loose {
  background: linear-gradient(
    0deg,
    rgb(255, 104, 49),
    rgb(255, 48, 48),
    rgb(255, 171, 45)
  );
}

.mainsect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 226px;
  width: 80%;
  gap: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1226px;
  height: 772px;
  background-color: #bbcdb9;
  border: 10px solid #628767;
  border-radius: 20px;
}

.titlesect {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-bottom: 100px;
}

.intitle {
  width: 420px;
  height: 87.55px;
  background-color: #9fc0aa;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.inquestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #aedce4;
  width: 427px;
  height: max-content;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: max-content;
  min-height: max-content;
  background-color: #cce7ec;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.hints {
  font-size: 1.2rem;
}

.counters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 3rem;
}

.count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cce7ec;
  border: 2px solid black;
  border-radius: 5px;
  width: 229px;
  height: 76px;
}

.incount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aedce4;
  border: 2px solid black;
  border-radius: 5px;
  width: 209px;
  height: 63px;
}

.healthcounter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cce7ec;
  border: 2px solid black;
  border-radius: 5px;
  width: 229px;
  height: 76px;
}

.inhealthcounter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aedce4;
  border: 2px solid black;
  border-radius: 5px;
  width: 209px;
  height: 63px;
  color: rgb(165, 255, 165);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wrong {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eccccc;
  border: 2px solid black;
  border-radius: 5px;
  width: 448px;
  height: 88px;
  color: white;
  margin-top: 20px;
}

.inwrong {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb2b2;
  border: 2px solid black;
  border-radius: 5px;
  width: 417px;
  height: 60px;
  color: white;
}

.correct {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccecd6;
  border: 2px solid black;
  border-radius: 5px;
  width: 448px;
  height: 88px;
  color: white;
  margin-top: 20px;
}

.insidecorrect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4ffb2;
  border: 2px solid black;
  border-radius: 5px;
  width: 417px;
  height: 60px;
  color: white;
}

hr {
  border: none;
  background-color: black;
  height: 2px;
  width: 100%;
  margin-bottom: 10px;
}

.Vastausalue {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submit {
  width: 448px;
  height: 88px;
  background-color: #cce7ec;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
}

.insubmit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.textSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 283px;
  height: 60px;
}

input[type="text"] {
  width: 90%;
  height: 80%;
  border: none;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="submit"] {
  text-align: center;
  font-family: "Fredoka", serif;
  font-size: 2rem;
  font-weight: bold;
  background-color: #b6ffb6;
  border: 3px solid #3d7a4f;
  width: 133px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.check > * {
  animation: appear 1s ease-in-out;
}

input[type="submit"]:hover {
  animation: shake 1s infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translate(0.1px, 0.1px) rotate(0deg);
  }
  10% {
    transform: translate(-0.1px, -0.2px) rotate(-0.1deg);
  }
  20% {
    transform: translate(-0.3px, 0px) rotate(0.1deg);
  }
  30% {
    transform: translate(0.3px, 0.2px) rotate(0deg);
  }
  40% {
    transform: translate(0.1px, -0.1px) rotate(0.1deg);
  }
  50% {
    transform: translate(-0.1px, 0.2px) rotate(-0.1deg);
  }
  60% {
    transform: translate(-0.3px, 0.1px) rotate(0deg);
  }
  70% {
    transform: translate(0.3px, 0.1px) rotate(-0.1deg);
  }
  80% {
    transform: translate(-0.1px, -0.1px) rotate(0.1deg);
  }
  90% {
    transform: translate(0.1px, 0.2px) rotate(0deg);
  }
  100% {
    transform: translate(0.1px, -0.2px) rotate(-0.1deg);
  }
}

.healthloss1 {
  animation: healthloss1 0.5s;
}

@keyframes .healthloss1 {
  0% {
    color: #8dff71;
  }
  100% {
    color: #ffee71;
  }
}

.healthloss2 {
  animation: healthloss2 0.5s;
}

@keyframes .healthloss2 {
  0% {
    color: #ffee71;
  }
  100% {
    color: #ff6565;
  }
}

.healthloss3 {
  animation: healthloss3 0.5s;
}

@keyframes .healthloss3 {
  0% {
    color: #ff6565;
  }
  100% {
    color: #6c6c6c;
  }
}
